@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 18px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.192);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(185, 201, 39);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 218, 81);
}
